@import url(./global.css);

main {
    margin: 0 17%;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 656px;
    height: 132px;
}

.container-cadastro {
    border: 1px solid;
    width: 100%;
    height: 560px;
    display: flex;
}

.text {
    display: flex;
    background-color: var(--blue);
    color: var(--white);
    width: 50%;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 30px;
}

.form {
    padding: 0 33px;
    display: flex;
    flex-direction: column;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
}

fieldset {
    border: none;
}

.container-termos {
    display: flex;
    flex-direction: row-reverse;
}